<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky: analysis</title>
</head>
<body class="urukContainer">
    <nav>
        <div class="urukBox urukNav urukSmallText">
            <a href="/">Sign search</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <div class='urukBox'>
        <h1>Analysis</h1>
        <p>Here, you can paste your transcription of a proto-cuneiform account to extract some information about its features, its type, and so on.</p>
    </div>

    <div class='urukBox'>
        <form method="post" id="form" target="_blank">
            <textarea class='urukInput' id="transcription" name="transcription"></textarea><br>

            <fieldset class = "urukSearchOptions urukSmallText">
                <legend><b>Vectorizer settings:</b></legend>
                <label><input type = "checkbox" name = "cases" value = "1"><span class = "urukLabel">Vectorize entire cases</span></label>
                <label><input type = "checkbox" name = "numbers" value = "1"><span class = "urukLabel">Include numerals</span></label>
            </fieldset>
        </form>
    </div>

    <script>
        document.getElementById('transcription').addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // Prevent default form submission
                document.getElementById('form').submit(); // Submit the form
            }
        });
    </script>
</body>
</html>
