<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="grain.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4ky</title>
</head>
<body>
    <div class="urukContainer">
        <div class="urukBox urukNav urukSmallText">
            <a href="/">Sign search</a>
            <a href="/analysis">Analysis</a>
            <a href="/about">About</a>
        </div>

        <div class="urukBox">
            <h1>Welcome to 4ky!</h1>
            <p>This web app is an interface meant to make the exploration of the Late Uruk period (proto-cuneiform) corpus easier. All data originates from <a href = 'https://cdli.mpiwg-berlin.mpg.de'>CDLI</a>.</p>
        </div>

        <div class = "urukBox">
            <form method = "POST" target="_blank">
                <input type = "text" type = "search" name = "term" placeholder="What sign would you like to search for?" class = "urukSearch">

                <br>
                <br>
                <fieldset class = "urukSearchOptions">
                    <legend><b>Period:</b></legend>
                    <label><input type = "checkbox" name = "timePeriod" value = "Uruk V"><span class = "urukLabel">V</span></label>
                    <label><input type = "checkbox" name = "timePeriod" value = "Uruk IV"><span class = "urukLabel">IV</span></label>
                    <label><input type = "checkbox" name = "timePeriod" value = "Uruk III"><span class = "urukLabel">III</span></label>
                </fieldset>
                  
                <fieldset class = "urukSearchOptions">
                    <legend><b>Origin:</b></legend>
                    <label><input type = "checkbox" name = "provenience" value = "Uruk"><span class = "urukLabel">Uruk</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "Jemdet Nasr"><span class = "urukLabel">Jemdet Nasr</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "Tell Uqair"><span class = "urukLabel">Uqair</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "Umma"><span class = "urukLabel">Umma</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "Larsa"><span class = "urukLabel">Larsa</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "other"><span class = "urukLabel">other</span></label>
                    <label><input type = "checkbox" name = "provenience" value = "uncertain"><span class = "urukLabel">uncertain</span></label>
                </fieldset>
                  
                <fieldset class = "urukSearchOptions">
                    <legend><b>Signs:</b></legend>
                    <label><input type = "checkbox" name = "distinguishVariants" value = '1'><span class = "urukLabel">Distinguish variants</span></label>
                    <label><input type = "checkbox" name = "splitCompounds" value = '1'><span class = "urukLabel">Dismantle compound signs</span></label>
                </fieldset>
            </form>
        </div>
    </div>
</body>