@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

a:link, a:visited {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;

    font-family: 'Gudea', sans-serif;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
}

.urukAttestation {
    padding: 0.8em 0;
}

.urukBox {
    padding: 2em 0;
}

.urukContainer {
    margin: auto;
    padding: 2em 1em;
    max-width: 90ch;
}

.urukHelp {
    position: relative;
    border-bottom: 2px dotted rgba(250, 189, 47, 1);
}

.urukHelp .urukHelpText {
    visibility: hidden;
    width: 40ch;
    border: 0;
    border-radius: 8px;
    padding: 0.8em;

    background-color: whitesmoke;
    text-align: center;

    top: 150%;
    left: 50%;
    margin-left: -20ch;

    position: absolute;
    z-index: 1;
}

.urukHelp:hover .urukHelpText {
    visibility: visible;
}

.urukInput {
    border: 0;
    border-bottom: 3px solid rgba(250, 189, 47, 0.3);
    background-color: rgba(250, 189, 47, 0.06);
    border-radius: 8px;

    padding: 0.8em 0;

    width: 100%;
    height: 15em;
    padding: 1em;

    font-family: 'Gudea', sans-serif;
    font-size: 0.8em;
    line-height: 2em;
}

.urukLabel {
    margin: 0 1.6em 0 0.8em;
}

.urukNav {
    margin: auto;
    display: flex;
    font-size: 0.8em;

    justify-content: flex-end;
    gap: 6em;
}

.urukSmallText {
    font-size: 0.8em;
}

.urukTranscription {
    display: block;
    margin-bottom: 1em;
    width: 100%;

    margin: 0.8em 0;
    padding: 0.8em 1.6em;
    background-color: rgba(250, 189, 47, 0.06);
    border-radius: 8px;
    letter-spacing: 0.04em;
}