<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">

        <link rel="stylesheet" href="{{ url_for('static', filename = 'Uruk.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'grain.png') }}">
        <title>Atomization</title>
    </head>
    <body class = 'urukContainer'>
        <nav>
            <div class = "urukBox urukNav">
                <a href = "/">Administrative</a>
                <a href = "/help">Help</a>
            </div>
        </nav>

        <div class = "urukBox">
            <h1>Atomization</h1>
            <p>

            </p>
        </div>

        <div class = "urukBox">
            <h2>1. What is it?</h2>
            <div class = "urukSmallText">
                <p>
                </p>
            </div>
        </div>

        <div class="urukBox">
            <h2>2. Why is it needed?</h2>
            <div class="urukSmallText">
                <p>
                </p>
            </div>
        </div>

        <div class = "urukBox">
            <h2>3. Changelog</h2>
            <div class = "urukSmallText">
                <p>
                </p>
            </div>
        </div>
    </body>
</html>